body {
  background-color: #fff5e4;
  font-family: "Playfair Display", sans-serif;
  font-size: 15px;
}

h2 {
  font-size: 15px;
}

.header {
  display: flex;
  background-color: #df7c7d;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  justify-content: center;
  gap: 300px;
}

.header-2 {
  margin-right: 200px;
}

.prenom {
  letter-spacing: 3px;
}

.photoprofil {
  width: 130px;
  height: 200px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: -400px;
}

.titre {
  text-align: center;
  font-size: 20px;
}

.à-propos-de-moi {
  background-color: #f5adb0;
  margin-right: 900px;
  margin-left: 200px;
  border-radius: 30px;
  text-align: left;
  color: #000;
}

.hobbies {
  background-color: #df7c7d;
  margin-right: 900px;
  margin-left: 200px;
  border-radius: 30px;
  text-align: left;
  color: #000;
}
.hard-skills {
  background-color: #f5adb0;
  margin-right: 900px;
  margin-left: 200px;
  border-radius: 30px;
  text-align: left;
  color: #000;
}
.soft-skills {
  background-color: #df7c7d;
  margin-right: 900px;
  margin-left: 200px;
  border-radius: 30px;
  text-align: left;
  color: #000;
}
.contact {
  background-color: #f5adb0;
  margin-right: 900px;
  margin-left: 200px;
  border-radius: 30px;
  text-align: left;
  color: #000;
}

.formations {
  text-align: center;
  color: #000;
}

.expériences {
  text-align: center;
  color: #000;
}
.projets {
  text-align: center;
  color: #000;
}

.colonne-gauche {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.colonne-droite {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
  margin-top: -830px;
  margin-right: -550px;
}
